# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/anytko/geog-510/blob/mine/book/labs/lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
new_york_lat = 40.7128
new_york_lon = -74.0060
new_york_pop = 8_336_817
new_york_area = 783.8

new_york_pop_density = new_york_pop / new_york_area
print(f"New York City has a population density of {new_york_pop_density:.2f} people per square km.")
print(f"Latitude: {new_york_lat}, Longitude: {new_york_lon}")

New York City has a population density of 10636.41 people per square km.
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [2]:
city = "San Francisco"
city_lower = city.lower()
print(city_lower)

city_upper = city.upper()
print(city_upper)

city_new = city.replace("San", "Los")
print(city_new)

san francisco
SAN FRANCISCO
Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [3]:
city_list = [("New York City:", 40.7128, -74.0060), ("Los Angeles:", 34.0522, -118.2437), ("Chicago:", 41.8781, -87.6298)]

city_list.append(("Miami:", 25.7617, -80.1918))

print(city_list)

print(city_list[:2])

[('New York City:', 40.7128, -74.006), ('Los Angeles:', 34.0522, -118.2437), ('Chicago:', 41.8781, -87.6298), ('Miami:', 25.7617, -80.1918)]
[('New York City:', 40.7128, -74.006), ('Los Angeles:', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [4]:
eiffel_coord = (48.8584, 2.2945)
print(f"Eiffel Tower Coordinates: {eiffel_coord}")

eiffel_coord[0] = 48.8585

# When trying to change the latitude value to 48.8585, it will raise an error because tuples are a data type which are immutable.
# If you want to change a value in a tuple to have to create a new tuple with the updated value.

Eiffel Tower Coordinates: (48.8584, 2.2945)

TypeError: 'tuple' object does not support item assignment

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [5]:
countries_visited = {"USA", "Canada", "Mexico", "Germany", "France", "Switzerland", "UK", "Scotland", "Italy", "Norway", "Sweden", "Ireland"}
print(countries_visited)
countries_visited.add("Canada")
print(countries_visited)

# The set will not add the same country again because every value in a set must be unique.

{'Italy', 'France', 'Scotland', 'UK', 'Sweden', 'Norway', 'Mexico', 'Ireland', 'USA', 'Canada', 'Germany', 'Switzerland'}
{'Italy', 'France', 'Scotland', 'UK', 'Sweden', 'Norway', 'Mexico', 'Ireland', 'USA', 'Canada', 'Germany', 'Switzerland'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [6]:
river_dict = {"Name": "Amazon River", "Length": 6400, "Countries": ["Brazil", "Peru", "Colombia"]}
print(river_dict)

river_dict.update({"Discharge": 209000, "Length": 6992})

print(river_dict)

{'Name': 'Amazon River', 'Length': 6400, 'Countries': ['Brazil', 'Peru', 'Colombia']}
{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [7]:
city_dict = {"Name": "Tokyo", "Population": 13515271, "Coordinates": (35.6895, 139.6917)}

print(f"The population of {city_dict['Name']} is {city_dict['Population']}")
print(f"The latitude of {city_dict['Name']} is {city_dict['Coordinates'][0]}")

city_dict.update({"Population": 14000000})
print(city_dict)

The population of Tokyo is 13515271
The latitude of Tokyo is 35.6895
{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [8]:
city_list.sort(key=lambda city: city[0])

city_names = [city[0] for city in city_list]
print(city_names)

city_list.pop(3)
print(city_list)

['Chicago:', 'Los Angeles:', 'Miami:', 'New York City:']
[('Chicago:', 41.8781, -87.6298), ('Los Angeles:', 34.0522, -118.2437), ('Miami:', 25.7617, -80.1918)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [9]:
if "Length" in river_dict:
    print("The key 'Length' exists in the dictionary.")
else:
    print("The key 'Length' does not exist in the dictionary.")

print(river_dict.keys())
print(river_dict.values())

The key 'Length' exists in the dictionary.
dict_keys(['Name', 'Length', 'Countries', 'Discharge'])
dict_values(['Amazon River', 6992, ['Brazil', 'Peru', 'Colombia'], 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [10]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [11]:
location_dict = {location[0]: {"Latitude": location[1], "Longitude": location[2]} for location in locations}

print(f"The latitude of K2 is {location_dict['K2']['Latitude']}")

The latitude of K2 is 35.8808

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [12]:
long_river = "Nile River"
long_river.lower()
long_river.upper()
full_location = long_river + ", Egypt"

repeat = ' - '.join([full_location] * 3)
print(repeat)

Nile River, Egypt - Nile River, Egypt - Nile River, Egypt

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [13]:
coords = "40.7128N, 74.0060W"
latitude_str, longitude_str = coords.split(", ")
latitude = float(latitude_str[:-1])  
longitude = float(longitude_str[:-1]) 
if 'S' in latitude_str:
    latitude = -latitude
if 'W' in longitude_str:
    longitude = -longitude
wkt_point = f"POINT({longitude} {latitude})"
print(wkt_point)

POINT(-74.006 40.7128)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [14]:
# Given the following SQL table named 'rivers':
table_name = "rivers"
condition = ["length > 1000", "discharge > 5000"]
sql_query = f"SELECT * FROM {table_name} WHERE {condition};"
print(sql_query)

SELECT * FROM rivers WHERE ['length > 1000', 'discharge > 5000'];

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [15]:
city_names = [" new york ", "Los ANGELES", " CHICAGO"]
cleaned_city_names = [city.strip().title() for city in city_names]
print(cleaned_city_names)

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [16]:
address = "123 East St., Phoenix, USA"
address_parts = address.split(", ")
address_dict = {
    "Street": address_parts[0],
    "City": address_parts[1],
    "Country": address_parts[2],
}
print(address_dict)

{'Street': '123 East St.', 'City': 'Phoenix', 'Country': 'USA'}

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [17]:
coords = ((-40.7128, -74.0060), (34.0522, 118.2437), (41.8781, -87.6298))

for lat, lon in coords:
    if lat > 0:
        hemisphere = "Northern"
    else:
        hemisphere = "Southern"

    print(f"Latitude: {lat}, Longitude: {lon} â {hemisphere} Hemisphere")

Latitude: -40.7128, Longitude: -74.006 â Southern Hemisphere
Latitude: 34.0522, Longitude: 118.2437 â Northern Hemisphere
Latitude: 41.8781, Longitude: -87.6298 â Northern Hemisphere

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [18]:
coords = [[40.7128, -74.0060], [34.0522, 118.2437], [-41.8781, -87.6298]]

positive_coords = []

while len(coords) > 0:
    lat, lon = coords.pop(0) 
    if lat > 0:
        positive_coords.append([lat, lon])
    else:
        break  

print(positive_coords)

[[40.7128, -74.006], [34.0522, 118.2437]]

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [19]:
coords = [[40.7128, -74.0060], [34.0522, 118.2437], [-41.8781, -87.6298], [51.5074, -0.1278], [35.6895, 139.6917]]

for coord in coords:
    lat, lon = coord
    if lon > 0:
        print("Eastern Hemisphere")
    elif lon < 0:
        print("Western Hemisphere")
    elif lon == 0:
        print("Prime Meridian")
    else:
        print("Invalid Longitude")

Western Hemisphere
Eastern Hemisphere
Western Hemisphere
Western Hemisphere
Eastern Hemisphere

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [20]:
coords = [[-40.7128, -74.0060], [34.0522, 118.2437], [-41.8781, -87.6298], [51.5074, -0.1278], [35.6895, 139.6917]]

south_coords = []

for coord in coords:
    lat, lon = coord
    if lat < 0:
        south_coords.append(coord)
    else:
        continue

print(f"Number of coordinates in the Southern Hemisphere: {len(south_coords)}")
print(f"Coordinates in the Southern Hemisphere: {south_coords}")

Number of coordinates in the Southern Hemisphere: 2
Coordinates in the Southern Hemisphere: [[-40.7128, -74.006], [-41.8781, -87.6298]]

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [22]:
import random as rand

while True:
    latitude = rand.uniform(-90, 90)  
    longitude = rand.uniform(-180, 180)  
    print(f"Generated: ({latitude:.4f}, {longitude:.4f})")
    
    if latitude > 50 and longitude > 50:
        print(f"Final coordinate meeting condition: ({latitude:.4f}, {longitude:.4f})")
        break

Generated: (-23.2002, -93.1441)
Generated: (9.1324, 69.5001)
Generated: (36.7524, -169.4424)
Generated: (75.1619, 19.7281)
Generated: (-32.2717, 5.5424)
Generated: (-46.8047, -62.7809)
Generated: (-80.0853, 82.0276)
Generated: (-65.8640, -113.6797)
Generated: (76.0419, -103.5818)
Generated: (49.3310, -88.8313)
Generated: (-87.2825, -51.2633)
Generated: (-76.6734, -7.7351)
Generated: (-89.4498, -32.8644)
Generated: (83.4199, 137.1832)
Final coordinate meeting condition: (83.4199, 137.1832)

## Submission Requirements

Complete the exercises above and and upload the notebook to your GitHub repository. Make sure the notebook has a Colab badge at the top so that it can be easily opened in Google Colab. Submit the URL of the notebook to Canvas.